<configuration>

<!-- Site specific turbo.cache configuration properties -->

<property>
<name>turbo.cache.front.adress</name>
<value>10.20.255.30</value>
</property>

<property>
<name>turbo.cache.front.hostname</name>
<value>en000.kobic-ib0.re.kr</value>
</property>

<property>
<name>turbo.cache.allowed.duration</name>
<value>-1</value>
</property>

<property>
<name>turbo.cache.clean.duration</name>
<value>168</value>
</property>

<property>
<name>turbo.cache.cache.dir</name>
<value>/cache</value>
</property>

<property>
<name>turbo.cache.queue.log.dir</name>
<value>/home/hadoop/tcache/logs/queue</value>
</property>

<property>
<name>turbo.cache.hdfs.dir</name>
<value>/express</value>
</property>

<property>
<name>turbo.cache.hdfs.url</name>
<value>hdfs://10.20.255.20:8020</value>
</property>

<property>
<name>turbo.cache.hdfs.user</name>
<value>hadoop</value>
</property>

<property>
<name>turbo.cache.server.core</name>
<value>20</value>
</property>

<property>
<name>turbo.cache.maxim.job</name>
<value>90</value>
</property>

<property>
<name>turbo.cache.init.clean</name>
<value>true</value>
</property>

<property>
<name>turbo.cache.heart.bit.timer</name>
<value>10000</value>
</property>

<property>
<name>turbo.cache.front.port</name>
<value>7911</value>
</property>

<property>
<name>turbo.cache.node.port</name>
<value>7911</value>
</property>

</configuration>