

.tab {
	-fx-position-shape: false;
	-fx-scale-shape: false;
	-fx-border-radius: 0 0 0 0;
	-fx-background-radius: 0 0 0 0;
	-fx-padding: 0 0 0 0;
}

.tab-pane {
	-fx-tab-min-width: 250px;
}

.tab {
	-fx-background-insets: 0 1 0 1, 0, 0;
}

.tab:selected{
    -fx-background:   #cadaff;
}

.tab:hover{
    -fx-background:   #ffd9d9;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #f2f0ff;
}


